# Eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
out/
*.ipr
*.iws
*.iml
.idea/

# Gradle
build/
.gradle/

# Forge MDK
forge*changelog.txt
run/
eclipse/

# Compilados Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
